version: '3.8'

services:
  mongo:
    image: mongo:6.0
    container_name: mongo_db
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - express_backend_base

  redis:
    image: redis:7.0
    container_name: redis_cache
    restart: always
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    networks:
      - express_backend_base

networks:
  express_backend_base:

volumes:
  mongo_data:
  redis_data:
